<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BootStrap File -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body class="bg-dark">

    <!-- ALERT -->
    <div class="alert-container " id="alert-container"></div>


    <h1 class="text-center text-white my-3">Knapsack Problem</h1>


    <div class="main-box d-flex justify-content-center flex-wrap">

        <div id="outputDiv2" class="bg-white mx-5 p-4 my-4 rounded-3 ">
            <h2>OutPut:</h2>


        </div>

        <div class="bg-white p-4 my-4 rounded-3">
            <!-- Type -->
            <div class="my-1">
                <label for="algo-type"
                    class="form-label">Type:</label>
                <select id="algo-type" onchange="" class="form-select"
                    aria-label="Default select example">
                    <option value="1">0/1</option>
                    <option value="2">Unbounded</option>
                </select>
            </div>
            <!-- Size -->
            <label for="exampleFormControlInput1"
                class="form-label">Size:</label>
            <div class="mb-3">
                <input type="number" class="form-control" id="sizeInput"
                    placeholder="Size...">
            </div>
            <label for="exampleFormControlInput1" class="form-label">Maximum
                Capacity:</label>
            <div class="mb-3">
                <input type="number" id="maxCapacity" class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Maximum Capacity">
            </div>
            <button id="addBtn" onclick="displayFields();"
                class="btn btn-primary">Add</button>
        </div>

        <div id="outputDiv" class="bg-white mx-5 p-4 my-4 rounded-3">
            <h2>OutPut:</h2>
        </div>

    </div>


    <!-- Values -->


    <div class="container mt-4 mb-1">
        <div id="fields" class="row justify-content-center">

        </div>
    </div>


    <div class="container d-flex justify-content-center my-4">
        <div id="generateBtn">
            <button class="btn btn-warning">Generate</button>
        </div>
    </div>

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>